
@import url('https://fonts.googleapis.com/css?family=Poppins');
// fonts

$fontFamily: 'Poppins', sans-serif;

$fontHeaderBig: 22px;
$fontHeaderMedium: 20px;
$fontHeaderSmall: 18px;

$fontContentBig: 20px;
$fontContentMedium: 18px;
$FontContentSmall: 15px;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
