@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.debug {
  border: 1px solid blue;
}

.container_landing {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.container_landing .flex1 {
  height: 100vh;
  width: 50%;
  background-color: #C3091E;
}

.container_landing .flex1 .flex1_top {
  width: 45%;
  height: 25%;
  margin: 20% auto 0 auto;
  background-image: url("../images/logo_new.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container_landing .flex1 .flex1_bottom {
  width: 50%;
  height: 20%;
  margin: 7% auto;
}

.container_landing .flex1 .flex1_bottom p {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.container_landing .flex2 {
  height: 100vh;
  width: 50%;
}

.container_landing .flex2 .flex2_top {
  height: 10vh;
  width: 100%;
}

.container_landing .flex2 .flex2_top .flex2_top-input {
  float: right;
}

.container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input [type="password"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  margin: 5px 20px 0px 0;
  max-width: 170px;
}

.container_landing .flex2 .flex2_top .flex2_top-input .invalid-feedback {
  font-size: 12px;
  color: #C3091E;
}

.container_landing .flex2 .flex2_top .flex2_top-input .forgot_password {
  text-decoration: none;
  font-size: 12px;
  color: #1666a0;
  float: right;
  margin: 0 10px 0 0;
}

.container_landing .flex2 .flex2_top .flex2_top-input .login {
  border: none;
  background-color: #1666a0;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  padding: 4px 6px 4px 6px;
  margin: 5px 10px 0 0;
  float: right;
}

.container_landing .flex2 .flex2_middle {
  height: 50vh;
  width: 100%;
}

.container_landing .flex2 .flex2_middle .register_head {
  text-align: center;
  font-size: 26px;
  margin-top: 60px;
  color: #1666a0;
  font-weight: bold;
}

.container_landing .flex2 .flex2_middle .register_content {
  width: 150px;
  margin: 20px auto;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_landing .flex2 .flex2_middle .register_content span {
  color: #C3091E;
  font-weight: bold;
}

.container_landing .flex2 .flex2_middle .register_content input[type="text"], .container_landing .flex2 .flex2_middle .register_content input[type="email"], .container_landing .flex2 .flex2_middle .register_content [type="password"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;
  max-width: 170px;
  margin: 0 auto;
}

.container_landing .flex2 .flex2_middle .register_content .invalid-feedback {
  font-size: 12px;
  color: #C3091E;
}

.container_landing .flex2 .flex2_middle .register_content .register_button {
  border: none;
  color: white;
  background-color: #1666a0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  padding: 4px 6px 4px 6px;
}

.container_landing .flex2 .flex2_bottom {
  height: 30vh;
  width: 100%;
  background-image: url("../images/gamer_couple.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

#terms #terms2 {
  cursor: pointer;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 200%;
}

#terms #terms2:hover {
  color: red;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  margin: 10% 20%;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 60%;
  /* Full width */
  height: 60%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.884);
  /* Black w/ opacity */
  padding: 10px 30px;
  color: white;
  font-size: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
}

.modal .modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

@media screen and (min-width: 1171px) {
  .container .flex1 .flex1_top {
    width: 60%;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    margin: 20px auto;
  }
  .photo_container img {
    width: 35%;
  }
  .menu .nav-link {
    padding: 20px 0px;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 20px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 170px;
    font-size: 16px;
  }
  html {
    background-position-y: 200px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    margin: 20px auto;
  }
  .photo_container img {
    width: 70%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 16px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  html {
    background-position-y: 150px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 60px auto;
  }
  .home_container a h1 {
    font-size: 40px;
    margin: 20px auto;
  }
  .photo_container img {
    width: 100%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .container_landing .flex1 {
    height: 20vh;
    width: 100%;
  }
  .container_landing .flex1 .flex1_top {
    width: 70%;
    height: 70%;
    margin: 5% auto;
  }
  .container_landing .flex1 .flex1_bottom {
    display: none;
  }
  .container_landing .flex2 {
    width: 100%;
    height: 80vh;
  }
  .container_landing .flex2 .flex2_top {
    width: 100%;
    padding-top: 5px;
    height: 10vh;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 50px auto;
  }
  .home_container a h1 {
    font-size: 25px;
    margin: 0 auto;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_personal h1, .home_container .home_container-link1 h1 {
    font-size: 25px;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_chat h1, .home_container .home_container-link2 h1 {
    font-size: 25px;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .home_container a.link_events h1, .home_container .home_container-link3 h1 {
    font-size: 25px;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 30px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .nav-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 361px) {
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 12px;
    color: #1666a0;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin-top: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 40px auto;
  }
  .home_container a h1 {
    font-size: 20px;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 25px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 20px;
  }
}
/*# sourceMappingURL=landingpage.css.map */