@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.debug {
  border: 1px solid blue;
}

.container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.container .flex1 {
  height: 100%;
  width: 50%;
  background-color: #C3091E;
}

.container .flex1 .flex1_top {
  width: 45%;
  height: 25%;
  margin: 20% auto 0 auto;
  background-image: url("../images/logo_new.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .flex1 .flex1_bottom {
  width: 50%;
  height: 20%;
  margin: 7% auto;
}

.container .flex1 span {
  color: #C3091E;
}

.container .flex1 p {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.container .flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 50%;
}

.container .flex2 .flex2_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50vw;
  height: 20vh;
  padding-top: 10px;
}

.container .flex2 .flex2_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65%;
}

.container .flex2 .flex2_bottom {
  height: 30%;
  width: 100%;
  background-image: url("../images/gamer_couple.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.password_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 20vh;
  padding-left: 20px;
  padding-right: 20px;
}

.login {
  padding-right: 20px;
}

.login button {
  height: 20%;
  border: none;
  background-color: #1666a0;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.password_forgot {
  margin-top: 5px;
}

.password_forgot .forgot_password {
  text-decoration: none;
  font-size: 10px;
  color: #1666a0;
}

.password_error2 {
  font-size: 14px;
}

.register_head {
  font-size: 26px;
}

.register_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.register_button button {
  border: none;
  width: 10vw;
  height: 4vh;
  color: white;
  background-color: #1666a0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

#terms {
  font-size: 12px;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  /* Stay in place */
  margin: 10% 20%;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 60%;
  /* Full width */
  height: 60%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.884);
  /* Black w/ opacity */
  padding: 10px 30px;
  color: white;
  font-size: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
}

.modal .modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

span {
  color: #C3091E;
  font-weight: bold;
}

@media screen and (min-width: 1171px) {
  .container .flex1 .flex1_top {
    width: 60%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .container .flex1 .flex1_top {
    width: 60%;
    margin: 40% auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .container .flex1 .flex1_top {
    width: 60%;
    margin: 40% auto 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .container .flex1 {
    height: 30%;
    width: 100%;
  }
  .container .flex1 .flex1_top {
    width: 70%;
    height: 70%;
    margin: 7% auto 0 auto;
  }
  .container .flex1 .flex1_bottom {
    display: none;
  }
  .container .flex2 {
    height: 70%;
    width: 100%;
  }
  .container .flex2 .flex2_top {
    width: 100%;
    padding-top: 5px;
    height: 10%;
  }
  .login button {
    width: 50px;
    height: 30px;
  }
  .password_container {
    margin-left: 0px;
  }
  .flex2_top input[type="email"], input[type="password"] {
    width: 110px;
  }
  .container .flex2 .flex2_middle {
    height: 80%;
    margin-top: 10px;
  }
  .register_head {
    font-size: 18px;
  }
  .register_content input[type="password"] {
    width: 160px;
  }
  .register_button button {
    width: auto;
    margin: 5px;
  }
}
/*# sourceMappingURL=landingpage.css.map */