// Variables
@import 'config';

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .flex1 {
        height: 100%;
        width: 50%;
        background-color: $red;

        .flex1_top {
            width: 45%;
            height: 25%;
            margin: 20% auto 0 auto;
            background-image: url('../images/logo_new.jpg');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .flex1_bottom {
            width: 50%;
            height: 20%;
            margin: 7% auto;
        }
        span {
            color: $red;
        }
        p {
            color: #fff;
            text-align: center;
            font-size: 16px;
        }
    }

    .flex2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 50%;

        .flex2_top {
            display: flex;
            justify-content: flex-end;
            width: 50vw;
            height: 20vh;
            padding-top: 10px;
        }
        .flex2_middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 65%;
        }
        .flex2_bottom {
            height: 30%;
            width: 100%;
            background-image: url("../images/gamer_couple.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
     
    }
}

// classes for login.blade include

.password_container {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: left;
    height: 20vh;
    padding-left: 20px;
    padding-right: 20px;
}

.login {
    padding-right: 20px;

    button {
        height: 20%;
        border: none;
        background-color: $blue;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
    }
}
.password_forgot {
    margin-top: 5px;
    
.forgot_password {
    text-decoration: none;
    font-size: 10px;
    color: $blue;
    
}
}
.password_error {
    max-width: 6vw !important;
    // overflow: hidden;
}
.password_error2 {
        font-size: 14px;
}

// classes for register.blade include

.register_head {
    font-size: 26px;
}



.register_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register_button {

    button {
        border: none;
        width: 10vw;
        height: 4vh;
        color: white;
        background-color: $blue;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        outline: none;
    }
}

#terms {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    
#terms2 {
    // display: inline-block;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    width: 200%;
    input {
        
    }
}
#terms2:hover {
    color: red;
}
}

// classes for the modal

.modal {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    margin: 10% 20%;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.884); /* Black w/ opacity */
    padding: 10px 30px;
    color: white;
    font-size: 25px;
    transition: 1s;
    border-radius: 10px;
   
  .modal_content {
        display: flex;
        flex-direction: column;
        transition: all 2s ease-out;
        
    }
 }
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
    .close:hover,
    .close:focus {
    cursor: pointer;
}

span {
    color: $red;
    font-weight: bold;
}


// Responsive
@import 'mobile';