@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.debug {
  border: 1px solid blue;
}

.photo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.photo_container img {
  height: 100%;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
}

header {
  z-index: 2;
  width: 100%;
  height: 15%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(0px);
          transform: rotate(-45deg) translate(0px);
  width: 20px;
  background: #C3091E;
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 1;
  -webkit-transform: translate(1px);
          transform: translate(1px);
  background: #C3091E;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(0px);
          transform: rotate(45deg) translate(0px);
  width: 20px;
  background: #C3091E;
}

#nav-text {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
  margin-left: 18%;
  z-index: 2;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 40%;
  height: 15vh;
  overflow: hidden;
  right: 0;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0);
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: black;
}

.menu-branding {
  background: rgba(255, 255, 255, 0);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.menu .menu-text {
  text-align: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -50%;
  left: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu .menu-text span {
  text-transform: uppercase;
  display: block;
}

.menu .text1 {
  color: #fff;
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.16666666666666666em;
  letter-spacing: 0.5rem;
  background: #0F181F;
  position: relative;
  -webkit-animation: text 3s 1;
          animation: text 3s 1;
  border-radius: 0.2em;
}

.menu .text2 {
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

@-webkit-keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 15px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 15px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: black;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media screen and (min-width: 1171px) {
  .container .flex1 .flex1_top {
    width: 60%;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    margin: 20px auto;
  }
  .photo_container img {
    width: 35%;
  }
  .menu .nav-link {
    padding: 50px;
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 20px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 170px;
    font-size: 16px;
  }
  html {
    background-position-y: 200px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    margin: 20px auto;
  }
  .photo_container img {
    width: 70%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 16px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  html {
    background-position-y: 150px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 60px auto;
  }
  .home_container a h1 {
    font-size: 40px;
    margin: 20px auto;
  }
  .photo_container img {
    width: 100%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .container_landing .flex1 {
    height: 20vh;
    width: 100%;
  }
  .container_landing .flex1 .flex1_top {
    width: 70%;
    height: 70%;
    margin: 5% auto;
  }
  .container_landing .flex1 .flex1_bottom {
    display: none;
  }
  .container_landing .flex2 {
    width: 100%;
    height: 80vh;
  }
  .container_landing .flex2 .flex2_top {
    width: 100%;
    padding-top: 5px;
    height: 10vh;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 50px auto;
  }
  .home_container a h1 {
    font-size: 25px;
    margin: 0 auto;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_personal h1, .home_container .home_container-link1 h1 {
    font-size: 25px;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_chat h1, .home_container .home_container-link2 h1 {
    font-size: 25px;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .home_container a.link_events h1, .home_container .home_container-link3 h1 {
    font-size: 25px;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 30px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .nav-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 361px) {
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 12px;
    color: #1666a0;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin-top: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 40px auto;
  }
  .home_container a h1 {
    font-size: 20px;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 25px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 20px;
  }
}
/*# sourceMappingURL=newmenu.css.map */