body {
  outline: 0;
}

.container_events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.container_events_title {
  margin-top: 15px;
}

.container_events_table {
  margin-top: 15px;
  height: 50%;
}

.container_events_create {
  margin-top: 15px;
}

th {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

td {
  vertical-align: top;
}

table {
  text-align: center;
}

.button_events_delete {
  border-radius: 6px;
  background-color: #f40b26;
}

.button_events_delete:hover {
  background-color: #C3091E;
  color: white;
}

.button_events_delete:active {
  border-radius: 6px;
  background-color: #c3091e;
}

.button_events_edit {
  border-radius: 6px;
  background-color: #4fa7e7;
}

.button_events_edit:hover {
  background-color: #1666a0;
  color: white;
}

.button_events_edit:active {
  border-radius: 6px;
  background-color: #071f30;
}

.button_events_create {
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  background-color: green;
}

.button_events_create:hover {
  background-color: green;
  color: white;
}

.button_events_create:active {
  border-radius: 6px;
  background-color: green;
}

.button_events_back {
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  background-color: orange;
}

.button_events_back:hover {
  background-color: orange;
  color: white;
}

.button_events_back:active {
  border-radius: 6px;
  background-color: orange;
}

input[type=text] {
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  width: 80%;
}

input[type=date] {
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  width: 40%;
}

input[type=time] {
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  width: 40%;
}

textarea {
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  width: 80%;
  height: 10%;
}

.event_field {
  display: block;
  width: 400px;
}

.event_label {
  margin-left: 5px;
}

.event_show_label {
  width: 200px;
}

.button_events_edit_los {
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  background-color: #4fa7e7;
}

.button_events_edit_los:hover {
  background-color: #1666a0;
  color: white;
}

.button_events_edit_los:active {
  border-radius: 6px;
  background-color: #071f30;
}

.button_events_delete_los {
  border-radius: 6px;
  padding: 15px;
  margin: 5px;
  background-color: #f40b26;
}

.button_events_delete_los:hover {
  background-color: #C3091E;
  color: white;
}

.button_events_delete_los:active {
  border-radius: 6px;
  background-color: #c3091e;
}

.event_pos_back_but {
  display: block;
  position: relative;
  top: -58px;
}

.event_pos_del_but {
  display: block;
  position: relative;
  top: -118px;
  left: 140px;
}

.show_pos_del_but {
  display: block;
  position: relative;
  top: -75px;
  left: 138px;
}

.game_pos_del_but {
  display: block;
  position: relative;
  top: -60px;
  left: 200px;
}
/*# sourceMappingURL=adminevents.css.map */