@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.debug {
  border: 1px solid blue;
}

.container {
  width: 100%;
  height: auto;
}

.container .navbar_container {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .navbar_container .photo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

.container .navbar_container .photo_container img {
  height: 100%;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
}

.container .navbar_container .hamburger_container {
  width: 40%;
  display: inline-block;
}

.container .navbar_container .hamburger_container .something {
  display: inline-block;
  height: 75%;
  width: 20%;
}

.container .navbar_container .hamburger_container .something_else {
  display: inline-block;
  height: 75%;
  width: 20%;
}

.container .navbar_container .hamburger_container .name {
  display: inline-block;
  height: 75%;
  width: 20%;
}

.container .navbar_container .hamburger_container .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  width: 90%;
  float: right;
  text-align: center;
}

.container .navbar_container .hamburger_container .logout ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
}

.container .navbar_container .hamburger_container .logout ul #one {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 2.1s;
  transition: 2.1s;
}

.container .navbar_container .hamburger_container .logout ul #two {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 1.7s;
  transition: 1.7s;
}

.container .navbar_container .hamburger_container .logout ul #three {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.container .navbar_container .hamburger_container .logout ul #four {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.container .navbar_container .hamburger_container .logout ul #five {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .navbar_container .hamburger_container .logout ul span {
  width: 10%;
  display: inline-block;
}

.container .navbar_container .hamburger_container .logout ul li {
  display: inline-block;
  font-size: 20px;
}

.container .navbar_container .hamburger_container .logout ul li :hover {
  border-bottom: 1px solid #C3091E;
}

.container .navbar_container .hamburger_container .logout ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
}

.container .navbar_container .hamburger_container #hamburger_menu {
  height: 75%;
  width: 10%;
  margin-top: 13px;
  float: right;
  cursor: pointer;
}

.container .navbar_container .hamburger_container #hamburger_menu .bar1, .container .navbar_container .hamburger_container #hamburger_menu .bar2, .container .navbar_container .hamburger_container #hamburger_menu .bar3 {
  width: 60%;
  height: 5px;
  background-color: black;
  margin: 3px 0;
}

.container .navbar_container .hamburger_container #hamburger_menu #bar1 {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.container .navbar_container .hamburger_container #hamburger_menu #bar2 {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.container .navbar_container .hamburger_container #hamburger_menu #bar3 {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
/*# sourceMappingURL=navbar.css.map */