// Variables
@import 'config';

.container {
    width: 100%;
    height: auto;

    .navbar_container {
        width: 100%;
        height: 15%;
        display: flex;

        .photo_container {
            display: flex;
            justify-content: flex-end;
            align-self: center;
            width: 60%;
            height: 100%;
            margin: 0 auto;
            padding-top: 20px;

            img {
                height: 100%;
                width: 30%;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        .hamburger_container {

            width: 40%;
            display: inline-block;

            .something {
                display: inline-block;
                height: 75%;
                width: 20%;
            }

            .something_else {
                display: inline-block;
                height: 75%;
                width: 20%;
            }

            .name {
                display: inline-block;
                height: 75%;
                width: 20%;
            }

            .logout {
                display: flex;
                height: 75%;
                width: 90%;
                float: right;
                text-align: center;
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    width: 100%;
                    padding: 0;

                    #one {
                        transform: translateY(-100px);
                        transition: 2.1s;
                    }
                    #two {
                        transform: translateY(-100px);
                        transition: 1.7s;
                    }
                    #three {
                        transform: translateY(-100px);
                        transition: 1.3s;
                    }
                    #four {
                        transform: translateY(-100px);
                        transition: 0.9s;
                    }
                    #five {
                        transform: translateY(-100px);
                        transition: 0.5s;
                    }

                    span {
                        width: 10%;
                        display: inline-block;
                    }

                    li {
                        display: inline-block;
                        font-size: 20px;

                        :hover {
                            border-bottom: 1px solid $red;
                        }

                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 20px;
                            padding-bottom: 5px;
                        }
                    }
                    
                }
            }

            #hamburger_menu {
                height: 75%;
                width: 10%;
                margin-top: 13px;
                float: right;
                cursor: pointer;

                .bar1, .bar2, .bar3 {
                    width: 60%;
                    height: 5px;
                    background-color: black;
                    margin: 3px 0;

                }
                #bar1 {
                    transition: 1.2s;

                }
                #bar2 {
                    transition: 1.2s;
                }
                #bar3 {
                    transition: 1.2s;
                }
            }
        }
    }
}
