@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.debug {
  border: 1px solid blue;
}

input[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1666a0;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

button {
  -webkit-box-shadow: 0px 0px 8px 0px black;
          box-shadow: 0px 0px 8px 0px black;
}

.container_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url(/images/red_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container_edit .profile_container {
  height: auto;
  width: 50%;
  max-width: 550px;
  margin: 30px 30px;
  padding: 10px;
  border: 1px solid #1666a0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}

.container_edit .profile_container .separate_span {
  padding: 5px 10px;
  font-size: 16px;
  color: #C3091E;
}

.container_edit .profile_container .input_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  font-size: 14px;
  padding-left: 5px;
  margin: 5px 0;
}

.container_edit .profile_container .input_flex .checkmark {
  height: 15px;
  width: 15px;
  background-color: lightgrey;
  border-radius: 50%;
  margin: 5px 10px 0 0;
}

.container_edit .profile_container .input_flex .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_edit .profile_container .input_flex input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container_edit .profile_container .input_flex:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_edit .profile_container .input_flex input:checked ~ .checkmark {
  background-color: #1666a0;
}

.container_edit .profile_container .input_flex input:checked ~ .checkmark:after {
  display: block;
}

.container_edit .profile_container .input_flex .checkmark:after {
  margin: 4px 0 0 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.container_edit .profile_container input::-webkit-input-placeholder {
  color: #1666a0;
}

.container_edit .profile_container input:-ms-input-placeholder {
  color: #1666a0;
}

.container_edit .profile_container input::-ms-input-placeholder {
  color: #1666a0;
}

.container_edit .profile_container input::placeholder {
  color: #1666a0;
}

.container_edit .profile_container .photo_button_container {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_edit .profile_container .photo_button_container .photo_box {
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.container_edit .profile_container .photo_button_container .photo_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
  border: 2px solid black;
}

.container_edit .profile_container .upload_button_box {
  height: 40px;
  width: 100%;
}

.container_edit .profile_container .upload_button_box .upload_button {
  z-index: 1;
  width: 100%;
  height: auto;
  border: none;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

.container_edit .profile_container .upload_button_box .upload_button::-webkit-file-upload-button {
  visibility: hidden;
}

.container_edit .profile_container .upload_button_box .upload_button::after {
  content: 'pick a photo';
  display: inline-block;
  background-color: #1666a0;
  border-radius: 10px;
  padding: 6px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 0px black;
          box-shadow: 0px 0px 8px 0px black;
  margin-top: 10px;
  margin-left: 20%;
}

.container_edit .profile_container .age_slider_box {
  width: 80%;
}

.container_edit .profile_container .age_slider_box #ageOutput {
  width: 20%;
  height: 50px;
  font-size: 16px;
  color: #1666a0;
  margin-left: 10px;
}

.container_edit .profile_container .input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 14px;
}

.container_edit .profile_container .input_container #changePassword {
  color: white;
  font-size: 12px;
  margin: 10px 0 0 10px;
  cursor: pointer;
  border: none;
  width: 90%;
  height: 20px;
  background-color: #C3091E;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: 10px;
  text-align: center;
}

.container_edit .profile_container .input_container #password_modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 140px;
  margin-top: 10px;
  border: 2px solid #C3091E;
  color: #C3091E;
  font-weight: bold;
  padding: 5px;
  opacity: 0;
  -webkit-animation: passwordBox 2s forwards;
          animation: passwordBox 2s forwards;
}

.container_edit .profile_container .input_container #password_modal .old_password_text {
  width: 100%;
  height: 25%;
  text-align: center;
}

.container_edit .profile_container .input_container #password_modal .old_password {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5px;
}

.container_edit .profile_container .input_container #password_modal .old_password #oldPasswordButton {
  width: 90px;
  height: 20px;
  text-align: center;
  color: white;
  background-color: #C3091E;
  border-radius: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container_edit .profile_container .input_container #password_modal #new_password_text {
  width: 100%;
  height: 25%;
  text-align: center;
  display: none;
}

.container_edit .profile_container .input_container #password_modal #new_password {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

@-webkit-keyframes passwordBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes passwordBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_edit .profile_container .input_container .gender_span {
  color: #1666a0;
}

.container_edit .profile_container .input_container .input_profile_page {
  width: 90%;
  height: 35px;
  margin-left: 10px;
  color: #1666a0;
}

.container_edit .profile_container .input_container .input_range {
  width: 50%;
  margin-left: 10px;
}

.container_edit .profile_container .input_container .age_box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_edit .profile_container .input_container .age_box_container #ageOutput {
  color: #1666a0;
  font-size: 16px;
  margin-left: 20px;
}

.container_edit .profile_container .who_am_i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.container_edit .profile_container .who_am_i .text_area {
  width: 90%;
  height: 50%;
  margin: 5px auto;
  resize: none;
}

.container_edit .profile_container .who_am_i .see_personal_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30%;
  margin: 10px auto;
}

.container_edit .profile_container .who_am_i .see_personal_page #buttonPersonalView {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container_edit .profile_container .who_am_i .see_personal_page .button_personal_view {
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1666a0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-align: center;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 8px 0px black;
          box-shadow: 0px 0px 8px 0px black;
  cursor: pointer;
}

.container_edit .profile_container .who_am_i .see_personal_page .button_save_changes {
  border: none;
  color: white;
  background-color: #C3091E;
  font-size: 16px;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.container_edit .profile_container .who_am_i .see_personal_page .button_save_changes:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.container_edit .profile_container .who_am_i .see_personal_page .button_personal_view:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.container_edit #personalPopup {
  width: 30%;
  height: 650px;
  margin: 30px 30px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px black;
          box-shadow: 0px 0px 8px 0px black;
  display: none;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: personal_view;
          animation-name: personal_view;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.container_edit #personalPopup .photo_button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 30%;
}

.container_edit #personalPopup .photo_button_box .personal_popup_photo_box {
  margin: 0 auto;
  height: 100%;
  width: 50%;
  margin-bottom: 10px;
}

.container_edit #personalPopup .photo_button_box .personal_popup_photo_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 10px;
}

@-webkit-keyframes personal_view {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes personal_view {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container_edit #personalPopup .back_button {
  width: 50px;
  height: 60px;
}

.container_edit #personalPopup .back_button img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.container_edit #personalPopup .personal_popup_input_box {
  width: 70%;
  height: 20%;
  margin: 0 auto;
}

.container_edit #personalPopup .personal_popup_input_box .input_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 25px;
  margin: 5px 0;
}

.container_edit #personalPopup .personal_popup_input_box .input_area .personal_popup_input_area {
  margin-right: 10px;
  font-size: 18px;
  color: #C3091E;
}

.container_edit #personalPopup .personal_popup_input_box .input_area .personal_popup_db_input {
  color: #1666a0;
  font-size: 18px;
}

.container_edit #personalPopup .personal_page_about_me_container {
  width: 100%;
  height: 20%;
  padding: 8px 5px;
  color: #1666a0;
  overflow: hidden;
}

.container_edit #personalPopup .personal_page_games_container {
  width: 100%;
  height: 30%;
}

.container_edit #personalPopup .personal_page_games_container .personal_page_games_name_box {
  margin: 0 auto;
  height: 25px;
  width: 100%;
  text-align: center;
  color: #C3091E;
  font-size: 18px;
}

.container_edit #personalPopup .personal_page_games_container .personal_page_games_game_link_card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85%;
}

.container_edit #personalPopup .personal_page_games_container .personal_page_games_game_link_card_box .personal_page_games_image {
  height: 60%;
  width: 18%;
}

.container_edit #personalPopup .personal_page_games_container .personal_page_games_game_link_card_box .personal_page_games_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container_edit #personalPopup .personal_page_games_container .personal_page_games_game_link_card_box .personal_page_games_image img:hover {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

@media screen and (min-width: 1171px) {
  .container .flex1 .flex1_top {
    width: 60%;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    font-size: 40px;
    margin: 20px auto;
  }
  .photo_container img {
    width: 35%;
  }
  .menu .nav-link {
    padding: 40px;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 20px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 170px;
    font-size: 16px;
  }
  html {
    background-position-y: 200px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 70px auto;
  }
  .home_container a h1 {
    margin: 20px auto;
  }
  .photo_container img {
    width: 70%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container_landing .flex1 .flex1_top {
    width: 80%;
    margin: 40% auto 0 auto;
  }
  .container_landing .flex1 .flex1_bottom {
    margin: 0 auto;
  }
  .container_landing .flex1 .flex1_bottom p {
    font-size: 16px;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  html {
    background-position-y: 150px;
    background-position-x: 25px;
  }
  .home_container {
    margin: 60px auto;
  }
  .home_container a h1 {
    font-size: 30px;
    margin: 0 auto;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_personal h1, .home_container .home_container-link1 h1 {
    font-size: 30px;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_chat h1, .home_container .home_container-link2 h1 {
    font-size: 30px;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .home_container a.link_events h1, .home_container .home_container-link3 h1 {
    font-size: 30px;
  }
  .photo_container img {
    width: 100%;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .container_landing .flex1 {
    height: 20vh;
    width: 100%;
  }
  .container_landing .flex1 .flex1_top {
    width: 70%;
    height: 70%;
    margin: 5% auto;
  }
  .container_landing .flex1 .flex1_bottom {
    display: none;
  }
  .container_landing .flex2 {
    width: 100%;
    height: 80vh;
  }
  .container_landing .flex2 .flex2_top {
    width: 100%;
    padding-top: 5px;
    height: 10vh;
  }
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 14px;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 50px auto;
  }
  .home_container a h1 {
    font-size: 25px;
    margin: 0 auto;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_personal h1, .home_container .home_container-link1 h1 {
    font-size: 25px;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_chat h1, .home_container .home_container-link2 h1 {
    font-size: 25px;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .home_container a.link_events h1, .home_container .home_container-link3 h1 {
    font-size: 25px;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 30px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu .nav-link {
    font-size: 20px;
  }
}

.container_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container_edit .profile_container {
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 361px) {
  .container_landing .flex2 .flex2_top .flex2_top-input input[type="email"], .container_landing .flex2 .flex2_top .flex2_top-input input[type="password"] {
    width: 100px;
    font-size: 12px;
    color: #1666a0;
  }
  .container_landing .flex2 .flex2_middle {
    height: 50vh;
    margin-top: 10px;
  }
  .container_landing .flex2 .flex2_middle .register_head {
    margin-top: 0px;
  }
  .container_landing .flex2 .flex2_middle .register_content {
    height: 40vh;
    margin: 10px auto;
  }
  .home_container {
    margin: 40px auto;
  }
  .home_container a h1 {
    font-size: 20px;
  }
  .home_container a.link_personal, .home_container .home_container-link1 {
    margin: 15px 20%;
  }
  .home_container a.link_chat, .home_container .home_container-link2 {
    margin: 15px 20%;
  }
  .home_container a.link_events, .home_container .home_container-link3 {
    margin: 15px 20%;
  }
  .photo_container img {
    width: 100%;
  }
  .menu-btn {
    right: 25px;
    top: 30px;
  }
  .menu {
    margin: 0%;
  }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
  }
  .menu-nav {
    background: white;
    background-image: url("/images/zelda_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu ul.menu-nav, .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu-nav.show, .menu div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .menu-nav {
    height: 100vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }
  .menu .menu-branding {
    height: 0vh;
  }
  .menu .nav-link {
    font-size: 20px;
  }
}
/*# sourceMappingURL=personal_profile_edit.css.map */